// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$cyanBlue: rgba(68, 132, 206, 0.75);
$greyishBlack: rgba(0, 0, 0, 0.9);
$grey: rgba(0, 0, 0, 0.702);
$lightCyanBlue: rgba(234, 236, 239, 0.812);
$brightGray: rgba(234, 236, 239, 0.81);
$cultured: rgb(245, 245, 245);
$darkGunmetal: rgb(33, 37, 41);
$azure: rgb(0, 123, 255);
$crayola: rgb(0, 86, 179);
$auroMetalSaurus: rgb(108, 117, 125);
$ghostWhite: rgb(250, 249, 248);
$onyx: #343a40;
$gainsboro: #dae0e5;
